body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

li {
    color: grey;
    font-size: 13px;
    font-weight: 600;
}

li:hover {
    color: white;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

main {
    height: 100%;
}

main > nav {
    width: 260px;
    height: calc(100vh - 90px);
    background-color: black;
    position: relative;
}

.nav-logo-big {
    height: 90px;
    padding-left: 20px;
}

.nav-logo-big > img {
    width: 150px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.nav-logo-small {
    display: none;
}

.top-navbar-list {
    margin-left: 20px;
}

.top-navbar-list > li {
    height: 35px;
    line-height: 35px;
}

.top-navbar-list li:hover {
    border-left: 3px solid lime;
    margin-left: -20px;
    padding-left: 17px;
}

.top-navbar-list img {
    width: 25px;
    vertical-align: middle;
    filter: invert(50%);
    margin-right: 5px;
}

.top-navbar-list li:hover img {
    filter: invert(0%);
}

.my-playlists {
    margin-top: 15px;
    margin-left: 20px;
}

.my-playlists > h4 {
    color: white;
}

.my-playlists li {
    margin-top: 15px;
}

.my-playlists li:first-child {
    margin-top: 10px;
}

.add-playlist {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: grey;
    color: black;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
}

.my-playlists li:hover .add-playlist {
    background-color: white;
}

.lower-navbar {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 15px 5px 20px;
}

.lower-navbar img {
    vertical-align: middle;
    margin-right: 5px;
}

.lower-navbar-cta {
    color: grey;
    font-size: 13px;
    font-weight: 600;
}

.lower-navbar-cta:hover {
    color: white;
}

.lower-navbar-cta > img {
    width: 18px;
    filter: invert(50%);
}

.lower-navbar-cta:hover img {
    filter: invert(0%);
}

.lower-navbar > hr {
    margin: 10px 0 15px 0;
    border: none;
    border-top: 1px solid grey;
}

.profile img {
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
}

.profile {
    color: white;
    font-size: 15px;
    font-weight: 700;
}

@media screen and (max-width: 576px) {
    main > nav {
        width: 48px;
    }

    .nav-logo-big {
        display: none;
    }

    .nav-logo-small {
        display: block;
        width: 48px;
        margin: 0;
    }

    .nav-logo-small > img {
        width: 32px;
        margin: 5px 8px;
    }

    .top-navbar-list, .lower-navbar {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .top-navbar-list img, .lower-navbar img {
        margin: 0;
    }

    .top-navbar-list span:last-child, .lower-navbar span:last-child {
        display: none;
    }

    .my-playlists {
        display: none;
    }

    .profile {
        margin-top: 15px;
    }

    .lower-navbar {
        margin-bottom: 5px;
    }

    .lower-navbar hr {
        display: none;
    }
}

.content {
    width: calc(100% - 260px);
    height: calc(100vh - 90px);
    background-color: #141922;
}


.top-bar {
    min-height: 90px;
    width: calc(100% - 260px);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.top-bar-button {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    width: 260px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
}

.top-bar-button:hover {
    font-size: 15px;
    padding: 12px 20px;
    width: 270px;
    right: 10px;
}

@media screen and (max-width: 576px) {
    .content-resize {
        width: calc(100% - 48px);
    }

    .top-bar {
        width: calc(100% - 48px);
    }
}

.main-content {
    height: calc(100% - 90px);
    width: 100%;
    color: white;
    margin-top: 90px;
    overflow-y: scroll;
    padding: 0 15px 0 30px;
}

.main-content > ul {
    justify-content: center;
    max-width: 750px;
    margin: auto;
}

.main-content li {
    margin: 30px 10px;
}

.main-content hr {
    width: 30px;
    margin: 3px auto;
    border: none;
}

.main-content li:hover hr {
    border-top: 2px solid lime;
    margin-bottom: -2px;
}

.section-1, .section-2, .section-3 {
    margin-bottom: 30px;
}

.section-1 > h2 {
    margin: 15px 0 30px 0;
}

.section-subtitle {
    margin: 10px 0 30px 0;
}

.section-subtitle, .playlist-subtitle {
    font-size: 12px;
    font-weight: 600;
    color: grey;
}

.album {
    padding-right: 15px;
    margin-bottom: 10px;
}

.main-content-image {
    width: 100%;
    position: relative;
}

.album img {
    width: 100%;
}

.album .fa-play-circle {
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.album:hover img {
    opacity: 0.6;
}

.album:hover .fa-play-circle {
    display: block;
}

[class^="playlist-"] {
    text-align: center;
}

.playlist-title {
    margin: 10px 0 8px 0;
}

.section-3 img {
    border-radius: 50%;
}

footer {
    width: 100%;
    height: 90px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
}

.footer-left, .footer-right {
    min-width: 260px;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 0 5px;
}

.footer-center {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.song-content {
    display: flex;
    width: 55%;
}

.footer-left .song-image {
    width: 45px;
    margin-right: 10px;
}

.song-details {
    align-self: center;
}

.song-artist {
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.song-title {
    color: grey;
    font-size: 11px;
    font-weight: 500;
}

.song-title:hover {
    color: white;
    text-decoration: underline;
}

.song-tools {
    color: grey;
    display: flex;
    width: 45%;
    justify-content: flex-end;
}

.favourite:hover {
    color: white;
}

.folder {
    margin-left: 10px;
}

.folder:hover {
    color: white;
}


@media only screen and (max-width: 768px) {
    .song-tools {
        flex-direction: column;
        align-items: center;
    }

    .folder {
        margin: 0;
    }
}

@media only screen and (max-width: 576px) {
    .song-content {
        width: 45%;
    }

    .song-tools {
        width: 55%;
    }

    .footer-left .song-image {
        width: 32px;
    }
}

.upper-content {
    width: 200px;
    color: white;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.footer-center .fa-play-circle {
    font-size: 30px;
    width: 34px;
    height: 34px;
}

.footer-center .fa-play-circle:hover {
    font-size: 32px;
    transform: translate(-1px, -2px);
}

.lower-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time-progress {
    margin-right: 15px;
}

.time-total {
    margin-left: 15px;
}

.time-bar, .volume-bar {
    display: flex;
    flex-grow: 1;
}

[class^="time-"] {
    font-size: 12px;
    color: lightgrey;
    font-weight: 600;
}

.bar-default {
    height: 4px;
    width: 100%;
    background-color: grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.bar-progress {
    height: 100%;
    width: 30%;
    background-color: lightgrey;
    border-radius: 5px;
}

.bar-default:hover .bar-progress{
    background-color: lime;
}

.bar-default > .fas.fa-circle {
    display: none;
}

.bar-default:hover .fas.fa-circle {
    display: block;
}

.footer-right-buttons {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.footer-right-button {
    color: lightgrey;
    font-size: 13px;
}

.volume-bar .fa-circle {
    color: lightgrey;
}

.volume-bar {
    width: 60%;
}